# Servidor NestJS
PORT=3000

# Evolution API v2.1.1
EVOLUTION_API_URL=http://localhost:8080
EVOLUTION_API_KEY=minha_chave_global_secreta_123
EVOLUTION_INSTANCE_NAME=casa_do_bolo_instance

# Banco de Dados PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=casadobolo_user
DB_PASS=casadobolo_pass
DB_NAME=casadobolo_db

# Cache e Fila Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Configurações do Cloudinary
CLOUDINARY_CLOUD_NAME=seu_cloud_name    
CLOUDINARY_API_KEY=seu_api_key
CLOUDINARY_API_SECRET=seu_api_secret   

# Configurações do Ifood

IFOOD_CLIENT_ID=...
IFOOD_CLIENT_SECRET=...